<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>KopyalaYapistir</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CatalogPage</display-name>
    <servlet-name>CatalogPage</servlet-name>
    <servlet-class>coreservlets.CatalogPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogPage</servlet-name>
    <url-pattern>/CatalogPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KidsBooksPage</display-name>
    <servlet-name>KidsBooksPage</servlet-name>
    <servlet-class>coreservlets.KidsBooksPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KidsBooksPage</servlet-name>
    <url-pattern>/KidsBooksPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TechBooksPage</display-name>
    <servlet-name>TechBooksPage</servlet-name>
    <servlet-class>coreservlets.TechBooksPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TechBooksPage</servlet-name>
    <url-pattern>/TechBooksPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowItems</display-name>
    <servlet-name>ShowItems</servlet-name>
    <servlet-class>coreservlets.ShowItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowItems</servlet-name>
    <url-pattern>/ShowItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderPage</display-name>
    <servlet-name>OrderPage</servlet-name>
    <servlet-class>coreservlets.OrderPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderPage</servlet-name>
    <url-pattern>/OrderPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllBooks</display-name>
    <servlet-name>AllBooks</servlet-name>
    <servlet-class>coreservlets.AllBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllBooks</servlet-name>
    <url-pattern>/allbooks</url-pattern>
  </servlet-mapping>
</web-app>